/* Reset dan Umum */
*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden; /* Mencegah scroll horizontal */
}

:root {
    --primary-color: #0077C0;
    --secondary-color: #fAfAfA;
}

/* Header */
header {
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 20px 50px;
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Navbar */
.navbar {
    background-color: var(--secondary-color);
    z-index: 1000;
    padding: 1rem 2rem;
}

.navbar-brand img {
    max-height: 70px;
}

.navbar-nav .nav-link {
    color: #1D242B;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: var(--primary-color);
}

@media (max-width: 767.98px) {
    .navbar-nav {
        background-color: var(--secondary-color);
        padding: 10px 0;
    }
}

/* Tombol Menu Toggle (Mobile) */
.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 24px;
}

/* Section */
.section {
    background-color: var(--secondary-color);
    padding: 2rem 0;
}

.section .container {
    padding: 0 15px;
}

/* Tombol */
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s, color 0.3s;
}

.btn:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Gambar Responsif */
img {
    max-width: 100%;
    height: auto;
}

/* RESPONSIF MOBILE */
@media (max-width: 768px) {
    header {
        padding: 15px 20px;
        height: 80px;
    }

    .menu-toggle {
        display: block;
        position: absolute;
        right: 20px;
        top: 25px;
    }
}
